<div class="row" style="margin-top: 75px;">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You've reached the end of the internet</h1>
        <a class="btn btn-outline-success" asp-controller="Concert" asp-action="Index">Home Page</a>
    </div>
</div>