@model Concert

@{
    ViewData["Title"] = "Add new Concert";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add new Concert</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="CreateParty">1</a>
                        <a class="btn btn-outline-secondary" asp-action="CreateClassical">2</a>
                        <a class="btn btn-outline-secondary" asp-action="CreateOpenAir">2</a>
                    </div>
            </div>   
        </div>
    </div>
</div>
