<div class="badge badge-light rounded text-info" style="margin-top: 70px;margin-bottom: 10px; display:block;">
    <p>
        @{ViewData["Title"] = "Success";}
    </p>
</div>
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>You can check all your orders in the Orders section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>